@import url(reset.css);
@import url(hf.css);

/* ---------------優惠活動 ----------------------*/
* {
    box-sizing: border-box;
  }
  html, body {
    max-width: 1200px;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    /* overflow-x: hidden;   */
  }

  .wrapper {
    overflow-x: hidden;/*-------------------這裡卡住-----------------*/
  }
/* img{
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
} */
main{
    padding-top: 60px;
}

main section img{
    width: 100%;
}

.activityff{
    display: flex;
    width: 100%;
    max-width: 800px;
    /* border: 1px solid red; */
    margin: 0 auto;
    background-color:#D4BAA3;
    border-bottom-right-radius:32px;
    margin-bottom: 20px;
}

.publicity{
    width: 100%;
    max-width: 400px;
    /* border: 1px solid gold; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 0 auto;
    
    text-align: center;
   padding-top: 20px;
}
.publicity h2{
    width: 100%;
    color: #A38368;
 padding-top: 10px;  
 font-size: 24px;
}

.activityff img{
    width: 100%;
    max-width: 300px;
    /* width: 300px; */
    display: block;
    padding: 20px;
    padding-left: 50px;
}

.checkmore{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 100px;
    color: #A38368;
}



/*  transition */


.activityff{
    transition: transform 0.3s ease;
}
.activityff:hover {
    transform: scale(1.1);
}





/* -----------RWD-------------------- */

@media (max-width: 820px) {
    .publicity h2 {
      font-size: 20px;
    }
    .publicity h2 {
        padding: 10px 8px 0px 5px;

    }

    .activityinfo{
        padding: 0 10px;
    }
    .activityff img{
        width: 100%;
        max-width: 300px;
        /* width: 300px; */
        display: block;
        padding: 20px;
        padding-left: 50px;
    }
  }

  @media (max-width: 510px) {
    .publicity h2 {
        font-size: 16px;
      }
  }


  
  @media (max-width: 440px) {
    .publicity h2 {
      font-size: 16px;
    }


    .activityff img{
        width: 55%;
        max-width: 300px;
        /* width: 300px; */
        display: block;
        padding: 20px;
        padding-left: 50px;
    }


    .publicity h2 {
        padding: 10px 8px 0px 5px;

    }


    .activityinfo{
        padding: 0 10px;
    }





    

  }
  










