@import url(reset.css);
@import url(hf.css);

main .bg img{
    width: 1200px;
    display: block;
    
}
main{
  padding-top: 60px;
}

/* ----------------------------商品列表----------------------- */
.productarea{
    margin: 0 auto;
   
   color: #A38368;
   display: flex;
   justify-content: space-around;
   /* border: 1px solid blue; */
   
}
.productarea h2{
  font-size: 24px;
}


.left-select{
    width: 300px;
    /* border: 1px solid red; */
    background-color:#D4BAA3;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    line-height: 200%;
    
}

.left-selectdown ul li img{
  width: 100px;
  display: block;
}

.left-select ul li p{
    font-size: 16px;
}

/*---------------------------- 篩選下---------------------- */
.left-selectdown{
    border-top: 2px solid #A38368; 
   
}

.left-selectdown li{

display: flex;
background-color: #fff;
padding: 10px;
margin-bottom: 20px;

}
.fold span{
    display: flex;
    justify-content: space-between;
}
.inside{
    padding-left: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; 
    
}

.left-select ul:hover .inside{
  max-height: 200px;
 
  
}

.inside p{
  color:#A38368;
}
.fa-chevron-down{
padding-top: 2px;
}

.left-selectdown li img{

   width:80px;
   display: block;
    }

.word{
padding-left: 20px;
}



/* 右側商品列表 */
.right-product{
    width: 700px;
    /* border: 1px solid black; */
   background-color:#D4BAA3;
   margin-bottom: 10px;
    /* display: flex;
    flex-direction: column; */
    margin-top: 10px;
}
.sear{
    /* border: 1px solid green; */
    width: 500px;
    margin-left: 50px;
   margin-top: 10px;
   margin-bottom: 10px;
   display: flex;
   justify-content: center;
}
.search{
    width: 300px;
    /* border: 1px solid green; */
    position: relative;
    /* width: 80%; */
    /* float: left;  */
   margin: 0 auto;
   margin-top: 10px;
   }
   .search-bar{
    width: 100%;
    /* height: 30px; */
    /* height: 32px; */
    font-size: 16px;
    /* border: 3px solid #3D1101; */
    /* background-color: #efe9e7; */
    border: none;
    
    }
    .search-bar:focus {
        outline: none; 
    }
   .search-btn{
    width: 20px;
    height:20px;
   border: none;
    background-color: rgba(255, 255, 255, 0);
    color:#95959549;
    /* outline:none; */
    /* border: 2px solid #3D1101; */
    /* cursor: pointer;  */
    position: absolute;
    top: 2px; 
    right: 0px;
    left:280px;
    
   }
   form{
    padding: 10px;
   
   }
  select{
    /* padding: 10px; */
    color:#A38368;
    font-size: 16px;
    /* border-radius: 5px; */
   outline: none;
    border: none;
  border-radius: 8px;
    border-bottom: 1px solid #A38368;
    /* background-color: #D4BAA3; */
  }

  /*  ------------商品li----------------*/
 .productlist{
    /* float: left; */
    
    /* border: 1px solid red; */
    width: 600px;
    margin:0 45px;/*推的*/
    background-color: #D4BAA3;
    overflow: hidden;
    
 
 }
 .productlist ul{
    width: 700px;
    /* border: 1px solid yellow; */
    /* float: left; */
    
 }

 .productlist ul li{
    width: 170px;
    background-color: white;
    /* border: 1px solid green; */
    /* float: left; */
   margin: 0 12px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 8px 0px;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-right: 10px;
   display: inline-block;
   margin-left: 15px;
 
 }

 .productlist .button a{
    display: block;
    width: 100px;
    background-color: #C29186;
    border-radius: 8px;
   text-align: center;
   color: white;
   padding: 5px 0;
   text-decoration: none;
   
 }
 

 .productlist .button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
   
 }

 .productlist .button a{
    width: 80px;
    margin-right: 10px;
    font-size: 14px;
 }

 .productlist .button i{
   padding-top: 2px;
   
 }

 .productlist img{
    padding-top: 5px;
    margin-bottom: 10px;
    width: 150px;
    /* height: 80px; */
 }

 .productlist ul li p{
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
 }




 /*  */
/* 基本的 li 樣式 */
.productlist li {
  position: relative; 
 
 
  transition: transform 0.3s ease; 
}

/* 星星的樣式 */
.productlist li .fa-star {
  position: absolute;
  right: 4px; 
  top: 4px; 
  opacity: 0; 
  font-size: 18px; 
  transition: opacity 0.3s ease; 
  color: #C29186;
}


.productlist li:hover {
  transform: scale(1.1); 
  animation: borderAnimation 1.5s infinite;
  z-index: 100;
}

.productlist li:hover .fa-star {
  opacity: 1; 
}



/* li個別商品動畫 */
@keyframes borderAnimation {
  0% {
    box-shadow: 0 0 0 0 #C29186; 
  }
  50% {
    box-shadow: 0 0 0 4px #C29186; 
  }
  100% {
    box-shadow: 0 0 0 0 #C29186; 
  }
}




 
 /* ----------------------頁數-------------------- */
 .number{
    width: 500px;
    display: flex;
    /* border: 1px solid ; */
   /* margin: 0 auto; */
   /* margin-right: 0px; */
   margin-left: 550px;
   margin-bottom: 20px;
   margin-top: 20px;
 }
 .number ul{
    display: flex;
   width: 500px;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
   
 }

 .number ul li{
   /* border: 1px solid black; */
   margin: 0 10px;
   color: #A38368;
 }
