@import url(css/reset.css);
body{
    margin: 0 auto;
    width: 1200px;
    font-family: Arial;
    background-image: url(../img/bgimage.png);
    /* border: 5px solid red; */
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    font-size: 32px;
    text-align: center;
    padding-top: 20px;
    color: #A38368;
    margin-bottom: 20px;
 }
/* ------------------------------- 導覽列------------------------------- */
nav{
    /* border: 1px solid blue; */
    width: 1200px;
    background-color: #C29186;
   
    }
nav section{
    display: flex;
    justify-content: space-between;
}
nav ul{
width: 800px;
display: flex;
/* border: 1px solid red; */
}
nav ul li{
    width: 100px;
    align-content: center;
}
nav img{
   width: 100px;
    padding-left: 20px;
    /* border: 1px solid black; */
 }
 .wrapper .fa-cart-shopping{

font-size: 30px;
color: #945f31;
 }
 .wrapper nav li a{
    text-align: center;
    width: 70px;
    display: block;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
 }
 .wrapper li a:hover{
    
 }





/*--------------------- footer------------------- */
 footer{
    width: 1200px;
    background-color: #C29186;
 
}
footer .infm{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;

}

footer .infm img{
    width: 150px;
}



footer .left{
    width: 400px;
    /* border:1px solid green; */
    padding-top: 20px;
}

.infm .left p{
    /* border: 1px solid red; */
    padding-top: 20px;
    font-size: 24px;
   
}
.left p:first-child{
    font-size: 24px;
}

footer .right{
    width: 400px;
    /* border:1px solid blue; */
    
 
}
.right ul{
    display: flex;
    justify-content:end;
   
}
.right ul li{
    
    margin-left: 50px;
    padding-top: 40px;
    font-size: 14px;
}

.right ul li i{
    font-size: 32px;
}

.right section p{
    width: 400px;
    /* border: 1px solid yellow; */
    padding-top: 60px;
    font-size: 24px;
}

/* footer section:last-child{
    border: 1px solid blue;
    text-align: center;
    padding-bottom: 10px;
    /* font-size: 16px; 
} */

footer .bp{
    /* border: 1px solid red; */
    
    text-align: center;
    padding-bottom: 10px;
    font-size: 10px;
}
