@import url(reset.css);
@import url(hf.css);


/* ----------main商品介紹 ----------------*/

.productinfo{
   /* border: 1px solid red; */
   width: 900px;
   margin: 0 auto;
   display: flex;
   padding-top: 20px;
   box-sizing: border-box;
   padding-bottom: 50px;         /*推*/
   position: relative;
}
.info{
    width: 500px;
    /* border: 1px solid blue; */
    color: #A38368;
    padding-left: 20px;
    padding-top: 20px;
    
}

.info h2{
    font-size: 20px;
    padding-bottom: 20px;
   
}
.info p{
    font-size: 16px;
    line-height: 150%;
}

.info .bm{
    padding-bottom: 20px;
}

.productinfo  .choose a{
    
    display: block;
    width: 100px;
    background-color: #C29186;
    border-radius: 8px;
   text-align: center;
   color: white;
   padding: 5px 0;
   text-decoration: none;
 
}


.choose{
    display: flex;
    /* padding-top: 4px; */
    justify-content: center;
    align-items: center;
}

.choose select{
    outline: none;
    border: none;
    /* border-bottom: 1px solid black; */
    background-color: #fdfdfd;
}
.choose  a{
margin-right: 20px;
margin-left: 20px;

}

.choose i{
    /* padding-top: 4px; */
}

.productinfo img{
width: 400px;
display: block;

}
.productinfo .big{
    width: 30px;
    color: white;
position: absolute;
border: none;
  outline: none;
background-color: transparent;
left: 370px;
top: 250px;
}

/*----------------- 商品詳細資訊------------------------- */
.productdetail{
    width: 900px;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-bottom: 50px;
    
}
.line{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    border-bottom: 1px solid #A38368;
    margin-bottom: 50px;
}
.productdetail .line a{
  /* width: 100px; */
    font-size: 20px;
    display: flex;
    text-decoration: none;
    color: #A38368;
    margin-right: 160px;
    /* border-bottom: 1px solid #A38368; */
}

.productdetail  .hh{
   font-size: 24px;
   color: #A38368;
   margin-bottom: 20px;
   padding-left: 50px;
   font-weight: bold;
}
.productdetail .pp{
    font-size: 16px;
    color: #A38368;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
}
.productdetail img{
   width: 900px;
display: block;
}

/* ---------------相關商品-------------------  */
.conectproduct{
    width: 900px;
    /* border: 1px solid red; */
    margin: 0 auto;
    background-color: #D4BAA3;
    margin-bottom: 50px;
    
}
.conectproduct ul{
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conectproduct ul li{
    width: 140px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: white;
   padding: 10px;
   margin-bottom: 10px;
   margin-top: 10px;
   margin-right: 4px;
   
}
.conectproduct ul li:first-child{
    background-color: transparent;
}

.conectproduct ul li:last-child{
    background-color: transparent;
}
.conectproduct ul li p{
    padding-top: 10px;
    color:#A38368;
}
.button a{
    display: block;
    width: 100px;
    background-color: #C29186;
    border-radius: 8px;
   text-align: center;
   color: white;
   padding: 5px 0;
   text-decoration: none;
}
.conectproduct .button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
   padding-top: 10px;
 }

 .conectproduct .button i{
    margin-left: 10px;
    color: #A38368;
  }
.conectproduct img{
    width: 140px;
}
.conectproduct .arrow{
    width: 10px;
    background-color: transparent;
    border: none; 
  outline: none;
  /* margin-right: 5px; */
}






