@import url(reset.css);
@import url(hf.css);

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    /* overflow-x: hidden;   */
  }

  .wrapper {
    /* overflow-x: hidden;-------------------這裡卡住----------------- */
  }

main{
    padding-top: 60px;
    
}

.all{
    width: 100%;
    max-width: 1000px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
}

.outline{
    border: 1px solid #D4BAA3;
    /* width: 550px; */
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.lefttp{
    width: 100%;
    /* width: 550px; */
    border: 1px solid #D4BAA3;
    overflow: hidden;
   margin-top: 20px;
    /* padding-top: 20px; */
    margin-bottom: 20px; 

}

.ph{
    width: 100%;
    max-width: 150px;
    float: left;
    padding-top: 15px;
    padding-left: 5px;
    clear: both;
    
}
.ph img{
    width: 100%;
    /* width: 150px; */
}
.ph-r{
    width: 364px;
    /* border: 1px solid red; */
    float: right;
    /* padding-top: 50px; */
    
}

.ph-r p{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 16px;
    color: #A38368;
}
.ph-r h3{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
    color: #A38368;
}


.price{
    /* border: 1px solid black; */
    /* width: 100px; */
    width: 100%;
    float:left;
    /* padding-left: 20px; */
    /* padding-top: 20px; */
}

.price p{
    font-size: 16px;
}

.number{
    /* width: 100%; */
    width: 150px;
    /* border: 1px solid yellow; */
    float: right;
    display: flex;
    padding-right: 50px;
}

.number p{
    font-size: 16px;
}


form{
    /* padding: 17px; */
    margin-top: 17px;
    
}

select{
    border: none;
}

.btt{
    /* border: 1px solid purple; */
    width: 90%;
    /* width: 320px; */
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    
}
.btt button{
   
    width: 100px;
    height: 30px;
    text-align: center;
    border: none;
    background-color: #E7DCCE;
    color: #A38368;
    border-radius: 999px;
    /* padding-bottom: 20px; */
    /* border: 1px solid orange; */
    margin-left: 20px;
    font-size: 14px;
    cursor: pointer;
}

.btt button:hover{
    background-color: #C29186;
    color: white;
}
    
   




/*----------------- 右邊----------------------- */


/* .rightdetail{
    width: 350px;
    border: 1px solid black;
    margin-top: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    
   
} */

/* .vv{
    margin:0 auto;
    background-color: red;
    border:1px solid green;
}

.rightdetail h2{
    font-size: 20px;
   
   padding: 10px 0;
   padding-left: 41px;
   
} */

/* .rightdetail .nn{
    width: 300px;
    display: flex;
    border: 1px solid yellow; 
    border-top: 1px solid  #A38368;
   
    
} */
/* .rightdetail .nn p{
    padding-right: 20px;
    margin-left: 40px;
} */

/* .rightdetail .nn2{
    display: flex;
    
}
.rightdetail .nn2 p{
    padding-right: 54px;
    margin-left: 40px;
}

.btn{
   display: flex;
   justify-content: center;
   align-items: center;
} */
/* .rightdetail button{
    border: none;
    border-radius:999px;
    background-color: #E7DCCE;
    color: #A38368;
    padding-bottom: 5px;
    width: 50px;
    height: 20px;
    text-align: center;
} */




.rightdetail{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 400px;
    
}

.vv {
    width: 100%;
    /* width: 400px; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    justify-content: center;
    align-items: center;
   margin-top: 20px;
color: #A38368;
    
}

.vv p{
    margin-bottom: 20px;
    
}

.vv h2{
    font-size: 24px;
    padding-bottom: 20px;
    /* border: 1px solid red; */
    
}
.nn{
    width: 100%;
    max-width: 350px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-around;
    align-items: center;
  padding-left: 50px;
  padding-top: 20px;
  border-top: 1px solid #D4BAA3;

    
}

.nn p{
    margin-right: 80px;
}

.nn2{
    width: 100%;
    max-width: 350px;/*-------------可能有問題-----------*/
    border-top: 1px solid #D4BAA3;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-left: 50px;
    padding-top: 20px;
}

.nn2 p{
  
    margin-right: 80px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
 } 
.rightdetail button{
     border: none;
     border-radius:999px;
     background-color: #E7DCCE;
     color: #A38368;
     padding-bottom: 5px;
     width: 70px;
     height: 40px;
     text-align: center;
     font-size: 20px;
     cursor: pointer;
 } 

 .rightdetail button:hover{
    background-color: #C29186;
    color: white;
 }


 /* -----------------加購專區 -------------------*/
.buy{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #D4BAA3;
   padding-top: 20px;
   margin-top: 50px;
   color: #A38368;
}
.buy p{
    /* padding-left: 20px; */
}

.buy .bm{
    /* border-bottom: 1px solid #A38368; */
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.str{
    /* border: 1px solid beige; */
    border-bottom: 1px solid #A38368;
    padding-left: 20px;
}


.buyproduct{
    width: 100%;
    /* width: 900px; */
    /* border: 1px solid red; */
    margin: 0 auto;
    background-color: #D4BAA3;
    margin-bottom: 50px;
    display: flex;
    position: relative;
    
}
.fa-chevron-right{
    position: absolute;
    /* top: 210px; */
    top: 50%;
    right: 0;
    padding-right: 5px;
}
.fa-chevron-left{
    position: absolute;
    /* top: 210px; */
    top: 50%;
    left: 0;
    padding-left: 5px;
}

.buyproduct .gogo ul{
    width: 100%;
    /* width: 900px; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.buyproduct .gogo ul li{
    width: 100%;
    max-width: 203px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
     padding: 0 10px;   /*-----------這裡推開所有的圖片------*/
}
.buyproduct .gogo ul li p{
    text-align: center;
    padding-top: 5px;
}
.button button{
    border: none;
    display: block;
    width: 110px;
    background-color: #C29186;
    border-radius: 8px;
   text-align: center;
   color: white;
   padding: 5px 0;
 
   text-decoration: none;
   cursor: pointer;
}

.button button:hover{
background-color: #A38368;
}
.buyproduct .button{
   
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
   padding-top: 10px;
   margin-bottom: 20px;
 }

 .buyproduct .button i{
    width: 40%;
    margin-left: 10px;
    color: #A38368;
  }
  .buyproduct img{
    width: 100%;
    /* max-width: 140px; */
    margin-top: 10px;
   
}
.gogo .itt{
    /* border: 1px solid red; */
    /* width: 500px; */
   
    background-color:transparent;
    border: none;
    cursor: pointer;
    color: #A38368;
}
.fa-chevron-right{
    font-size: 20px;
}
.fa-chevron-left{
    font-size: 20px;
}


/* .buyproduct ul{
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.buyproduct ul li{
    width: 140px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: white;
   padding: 10px;
   margin-bottom: 10px;
   margin-top: 10px;
   margin-right: 4px;
   /* flex-wrap: wrap; */

   .buyproduct .button .fa-heart{
    cursor: pointer;
    font-size: 20px;
   }
   .buyproduct .button .fa-heart.red {
    color: red;
   
  }
  
 
/*--------------RWD----------------  */


@media (max-width: 820px) {
    .all {
        flex-wrap: wrap;
    }


    .outline {
        margin: 0;
    }
    /* .outline{
        order: 1;
    }

    .rightdetail{
        order: 2;
    } */

    .ph img {
        width: 160%;
        
    }

    /* .lefttp{
        width: 100%;
        padding-left: 20px;
    } */

    .rightdetail {
        /* border: 1px solid red; */
        width: 100%;
        max-width: 820px;
    }





    .buyproduct .gogo ul{
        width: 100%;
        /* width: 900px; */
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-left: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .buyproduct .gogo ul li{
        width: 100%;
        max-width: 182px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        
    }






  }




  @media (max-width: 640px) {

    .ph img {
        width: 100%;
        
    }

    .buyproduct .gogo ul li{
        width: 100%;
        max-width: 185px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        
    }

  }



  @media screen and (max-width: 440px) {
    .buyproduct .gogo {
      overflow: hidden; 
      
    }
  
    .buyproduct .gogo ul {
         display: flex; 
        width: 100%;
        
      flex-wrap: nowrap;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
       scroll-behavior: smooth; 
      -webkit-overflow-scrolling: touch; 
      padding: 10px; 
       gap: 10px; 
       margin-left: 0;
     
    }



  



  
    .buyproduct ul li {
      flex: 0 0 55%;
      min-width: 55%; 
      scroll-snap-align: center;
      background-color: #fff;
      border-radius: 8px;
       padding:10px; 
      box-sizing: border-box;
     
     
    }
  
    .buyproduct ul li img {
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: 10px;
      border-radius: 8px;

      
    }
  
    .buyproduct .itt {
      display: none;
    }
  }
  